<div class="container">

  <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %> <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

  <div class="addContainer">
    <H1>Add Data</H1>
    <button class="add" onclick="redirectToAddPage()">ADD</button>
  </div>
  <table id="petTable" class="cell-border display hover">
    <% if (pets.length > 0) { %>
    <!-- Menggunakan .length untuk memeriksa apakah pets tidak kosong -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Category</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% pets.forEach((row, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
      
        <td><a href="/pets/details/<%= row.name %>"><%= row.name %></a></td>
        <td><%= row.age %></td>
        <td><%= row.gender %></td>
        <td><%= row.size %></td>
        <td><%= row.breed %></td>
        <td><%= row.location %></td>
        <td><%= row.category %></td>
        <td><%= row.description %></td>
        <td class="actions">
          <a href="/pets/edit/<%= row._id %>" class="edit">Edit</a>
          <!-- Menggunakan row._id untuk link edit -->
          <a onclick="deleteProduct('<%= row._id %>')" class="delete">Delete</a>
          <!-- Menambahkan onclick event untuk menghapus -->
        </td>
      </tr>
      <% }); %>
    </tbody>

    <% } else { %>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% } %>
  </table>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="/style/dashboard.css" />
<script src="/script/ResponsiveNavbarTes.js"></script>
<script src="/script/dashboard.js"></script>
