<header class="header">
  <div class="header-content">
    <h1 class="header-heading">Our Latest Blog</h1>
    <p class="header-paragraph">
      Explore the latest articles on pets and animals in our blog.
    </p>
    <div class="buttonWrapper">
      <a href="#articles" class="exploreButton"
        >Explore Article <img src="/img/mouse.svg" alt="Arrow Icon" />
      </a>
    </div>
  </div>
</header>

<% function showLoadMoreButton(blogs) { %>
  <% if (blogs.length > 3) { %>
    <script>
      document.getElementById('load-more-btn').style.display = 'inline-block';
    </script>
  <% } else { %>
    <script>
      document.getElementById('load-more-btn').style.display = 'none';
    </script>
  <% } %>
<% } %>

<!-- Blog section start -->
<section class="blog" id="articles">
  <% if (isAuthenticated && currentUser.isAdmin) { %>

  <h2>
    Latest News
    <span class="editSpan"><a href="/blogs/dashboard">edit</a></span>
  </h2>
  <% } else { %>
  <h2>Latest News</h2>
  <% } %>
  <h5 class="blog-heading">Daily dose of animals</h5>

  <!-- Category container -->
  <div class="category-container">
    <div class="category active" data-category="All">All</div>
    <div class="category" data-category="Healthcare">Healthcare</div>
    <div class="category" data-category="Experience">Experience</div>
    <div class="category" data-category="Adoption">Adoption</div>
  </div>

  <% if (blogs != '') { %>

  <div class="blog-container">
    <% blogs.forEach((blog,index) => { %>
    <a href="<%= blog.link %>" target="_blank" class="blog-card-link" > 
      <div class="blog-card">
        <div class="blog-img">
          <img
            src="<%= blog.image %>"
            alt="project"
            loading="lazy"
            class="project-img"
          />
        </div>

        <div class="blog-content">
          <a href="<%= blog.link %>" target="_blank" class="blog-title"
            ><%= blog.title %></a
          >
          <p><%= blog.desc %></p>

          <div class="row">
            <span class="blog-author"><%= blog.author %></span>
            <span class="blog-category"><%= blog.blogCategory %></span>
          </div>
        </div>
      </div>
    </a>
    <% }); %>
  </div>
  <div class="loadmore">
    <button id="load-more-btn">Load More</button>
  </div>
  <%= showLoadMoreButton(blogs) %>

  <% } else{ %>
  <div class="blog-container"><p>No blogs found.</p></div>
  <% } %>
</section>
<!-- Blog section end -->

<link rel="stylesheet" href="/style/blog.css" />
<script src="/script/blog.js"></script>
<script src="/script/ResponsiveNavbarTes.js"></script>