<div class="container">
  <div class="addContainer">
    <H1>Add Blog</H1>
    <button class="add" id="btnAddBlog">ADD</button>
  </div>

  <table id ="blogTable" class="blogTable">
    <% if (blogs.length > 0) { %>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Category</th>
        <th>Link</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% blogs.forEach((row, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= row.title %></td>
        <td><%= row.author %></td>
        <td><%= row.desc %></td>
        <td><%= row.blogCategory %></td>
        <td><%= row.link %> %></td>
        <td class="actions">
          <!-- <a id="btnEditBlog" class="edit">Edit</a> -->
          <a href="/blogs/editBlog/<%= row.title %>" class="edit">Edit</a>
          <!-- Menggunakan row._id untuk link edit -->
          <a onclick="deleteBlog('<%= row._id %>')" class="delete">Delete</a>
          <!-- Menambahkan onclick event untuk menghapus -->
        </td>
      </tr>
      <% }); %>
    </tbody>

    <% } else { %>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Desc</th>
        <th>Link</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" style="text-align: center">NO DATA FOUND</td>
      </tr>
    </tbody>
    <% } %>
  </table>
</div>

<div class="formContainer" id="formContainer">
  <div class="form_area" id="addBlog">
    <p class="title">Add Blog Data</p>

    <form action="/blogs/addBlog" method="post" enctype="multipart/form-data">
      <div class="form_group">
        <label class="sub_title" for="name">Title</label>
        <input
          placeholder="Enter blog title"
          class="form_style"
          type="text"
          id="title"
          name="title"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="name">Author</label>
        <input
          placeholder="Enter blog author"
          class="form_style"
          type="text"
          id="author"
          name="author"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="description">Blog Description</label>
        <textarea
          placeholder="Enter blog description"
          class="textarea_style"
          id="desc"
          name="desc"
          rows="4"
          oninput="maxLengthCheck(this)"
          maxlength="200"
          required
        ></textarea>
      </div>

      <div class="form_group">
        <label class="sub_title" for="blogCategory">Blog Category:</label>
        <select class="form_style" id="blogCategory" name="blogCategory">
          <option value="Healthcare">Healthcare</option>
          <option value="Experience">Experience</option>
          <option value="Adoption">Adoption</option>
        </select>
      </div>

      <div class="form_group">
        <label class="sub_title" for="name">Blog Link</label>
        <input
          placeholder="Enter blog link"
          class="form_style"
          type="text"
          id="link"
          name="link"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="image">Image</label>

        <input
          id="image"
          class="formimg_style"
          type="file"
          name="image"
          accept="image/*"
          required
        />
      </div>

      <div class="btnBox">
        <button type="submit" class="btn">ADD BLOG</button>
        <button class="cancel-btn" id="cancelAdd" onclick="closeForm()">
          CANCEL
        </button>
      </div>
    </form>
  </div>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/style/blogDashboard.css" />
<link rel="stylesheet" href="/style/dashboard.css" />
<script src="/script/ResponsiveNavbarTes.js"></script>
<script src="/script/blogDashboard.js"></script>
