<div class="container">
  <table>
    <% if (pets != '') { %>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% pets.forEach((row,index) => { %>
      <tr>
        <td><%= index+1 %></td>
        <td><img src="<%= row.image %>" alt="Pet" class="pet-image" /></td>
        <td><%= row.name %></td>
        <td><%= row.age %></td>
        <td><%= row.gender %></td>
        <td><%= row.size %></td>
        <td><%= row.breed %></td>
        <td><%= row.location %></td>
        <td><%= row.category %></td>
        <td class="actions">
          <a href="/edit/<%= row.name %>" class="edit">Edit</a>
          <a href="/delete/<%= row._id %>" class="delete">Delete</a>
        </td>
      </tr>
      <% }); %>
    </tbody>

    <% }else { %>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="10">No pets found.</td>
      </tr>
    </tbody>
    <% } %>
  </table>
</div>

<link rel="stylesheet" href="style/dashboard.css" />
<script src="/script/ResponsiveNavbarTes.js"></script>
