<div class="form_area">
  <% if (profile.profilePict != null) { %>
  <img src="/<%=profile.profilePict%>" id="current-profile-img" loading="lazy"/>
  <!-- Render user's profile picture -->
  <% } else { %>
  <img
    src="/img/profile-user.png"
    alt="current-picture"
    id="current-profile-img"
    loading="lazy"
  />
  <% } %>
  <form
    action="/userprofile/editProfile/<%= profile._id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="form_group">
      <label class="sub_title" for="title">Name</label>
      <input
        placeholder="Enter name title"
        class="form_style"
        type="text"
        id="username"
        name="username"
        value="<%= profile.username %>"
        required
      />
    </div>

    <div class="form_group">
      <label class="sub_title" for="image">Image</label>
      <input
        id="image"
        class="formimg_style"
        type="file"
        name="image"
        accept="image/*"
        onchange="previewProfilePicture(event)"
      />

      <% if (profile.profilePict) { %>
      <input
        type="hidden"
        name="old_profile_image"
        value="<%= profile.profilePict %>"
      />
      <% } %>

      <div class="btnBx">
        <a href="/" class="btn">Back to home</a>
        <button type="submit" class="btn">Save</button>
        <a onclick="deleteUser('<%= profile._id %>')" class="btn"
          >Delete Account</a
        >
      </div>
    </div>
  </form>
</div>

<link rel="stylesheet" href="/style/profile.css" />
<script src="/script/editProfile.js"></script>
