
<!-- FAQ section start -->
<section class="FAQ">
  <h1 class="heading">
    How can we help ?
  </h1>
  <% if (isAdmin) { %>
  <h4 class="addfaqfont">
    Add FAQ
  </h4>
  <button class="add" onclick="redirectToAddPage()">ADD</button>
  <% } %>
  <h5 class="subheading">choose one of the topic below</h5>

  <ul class="button-list">
    <% Object.keys(faqCategories).forEach(category => { %>
      <li class="button-item">
        <a id="<%= category.toLowerCase() %>-button" class="nav_link"><%= category %></a>
      </li>
    <% }); %>
  </ul>

  <% Object.entries(faqCategories).forEach(([category, faqs]) => { %>
    <div class="FAQ-container" id="<%= category.toLowerCase() %>-container">
      <div class="FAQ-title">
        <h1 class="FAQ-container-heading"><%= category %></h1>
        <% if (category === "Basic Information") { %>
          <h5 class="FAQ-container-subheading">
            Learn more from our website so you can help us to encourage people around you to adopt a pet rather than buying animals.
          </h5>
        <% } else if (category === "Adoption") { %>
          <h5 class="FAQ-container-subheading">
            By adopting a rescue or stray animals, you will get a forever-loyal
            companion.
          </h5>
        <% } else if (category === "How to help") { %>
          <h5 class="FAQ-container-subheading">
            PetMeOut is a society product, we believe in the power of human-animal love and compassion will help PetMeOut to realize our dream. please help us to reach our goals!
          </h5>
        <% } %>
      </div>
      <div class="accordion-container">
        <% faqs.forEach(faq => { %>
          <div class="accordion-content">
            <header>
              <span class="title"><%= faq.title %></span>
              <div class="button-container">
                <% if (isAdmin) { %>
                  <button class="edit-button" onclick="editFaq('<%= faq._id %>')"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="delete-button" onclick="deleteFaq('<%= faq._id %>')"><i class="fa-solid fa-trash"></i></button>
                <% } %>
                <i class="fa-solid fa-plus"></i>
              </div>
            </header>
            <p class="description" data-faq-id="<%= faq._id %>"><%= faq.content %></p>
          </div>
        <% }); %>
      </div>
    </div>
  <% }); %>

</section>
<!-- FAQ section end -->
  
    <link rel="stylesheet" href="/style/FAQ.css" />
    <!-- Script -->
    <script src="/script/faq.js"></script>
    <script src="/script/ResponsiveNavbarTes.js"></script>
