<div class="forgot-password-container">
  <form action="/forgotpass/forgotPassword" method="post" id="forgotPasswordForm">
    <h1>Forgot Password</h1>
    <span>Please enter your email</span>
    <input type="email" name="email" placeholder="Email" />
    <div class="button-container">
      <button type="submit" name="resetPassword" id="resetPasswordBtn">Reset Password</button>
    </div>
    <p class="success-message"><%= messages.success && messages.success.includes('Verification email sent. Please check your email to reset your password.') ? 'Verification email sent. Please check your email to reset your password.' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Email is required') ? 'Email is required' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('This is an admin account. Password cannot be changed.') ? 'This is an admin account. Password cannot be changed' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Email not found') ? 'Email not found' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Error sending verification email') ? 'Error sending verification email' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Invalid or expired token') ? 'Invalid or expired token' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Error resetting password') ? 'Error resetting password' : '' %></p>
  </form>
</div>
<link rel="stylesheet" href="/style/forgotPasswords.css" />

<script src="/script/forgotPasswords.js"></script>