<!-- Hero section start -->
<section class="hero">
  <div class="hero-content">
    <h1>Save Lives, Get Love</h1>
    <p>
      Countless of stray and unwanted animals are suffering everyday, and they
      are waiting for people like YOU.
    </p>
    <button onclick="scrollToSearch()" class="hero-btn">Find ur Pet now!</button>
  </div>
  <div class="hero-image">
    <img src="/img/haiya.png" alt="Hero Image" loading="lazy"/>
  </div>
</section>
<!-- Hero section end -->

<p class="success-message">
  <%= messages.success && messages.success.includes('Successful, your form has been submitted') ? '' : '' %>
  <% if (messages.success && messages.success.includes('Successful, your form has been submitted')) { %>
    <script>
      // Menampilkan pop-up SweetAlert2 untuk pesan sukses registrasi
      Swal.fire({
        icon: 'success',
        title: 'Adoption form submitted',
        text: 'Thank you for your submission!',
        confirmButtonText: 'OK'
      });
    </script>
  <% } %>
</p>

<p class="error-message">
  <%= messages.error && messages.error.includes('You have already submitted the adoption form for this pet.') ? '' : '' %>
  <% if (messages.error && messages.error.includes('You have already submitted the adoption form for this pet.')) { %>
    <script>
      // Menampilkan pop-up SweetAlert2 untuk pesan error
      Swal.fire({
        icon: 'error',
        title: 'Adoption form already submitted',
        text: 'You already submitted this form. Please check your submitted form.',
        confirmButtonText: 'CLOSE'
      });
    </script>
  <% } %>
</p>

<p class="error-message">
  <%= messages.error && messages.error.includes('You have reached the maximum number of adoption forms.') ? '' : '' %>
  <% if (messages.error && messages.error.includes('You have reached the maximum number of adoption forms.')) { %>
    <script>
      // Menampilkan pop-up SweetAlert2 untuk pesan error
      Swal.fire({
        icon: 'error',
        title: 'Maximum number of adoption forms reached',
        text: 'Please cancel your form, is you want to adopt another pet.',
        confirmButtonText: 'CLOSE'
      });
    </script>
  <% } %>
</p>

<!-- List section start -->
<section class="cardList">
  <h1 class="list-heading">Adoptable Animals Highlight</h1>
  <p class="list-subheading">We have helped these animals find their home!</p>

  <!-- Menggunakan swiperjs untuk menampilkan carousel -->
  <div class="container swiper">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/dogs/dog.jpg" alt="" loading="lazy" />
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Bonbon</h3>
              <h4 class="breed">Maltipoo</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/cats/cat.jpg" alt="" loading="lazy" />
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Phud</h3>
              <h4 class="breed">Bengal</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/dogs/dog1.jpg" alt="" loading="lazy"/>
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Caid</h3>
              <h4 class="breed">Chihuahua</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/cats/cat1.jpg" alt="" loading="lazy" />
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Fish</h3>
              <h4 class="breed">Anggora</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/dogs/dog2.jpg" alt="" loading="lazy"/>
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Heather</h3>
              <h4 class="breed">Golden Retriever</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/cats/cat2.jpg" alt="" loading="lazy" />
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Lily</h3>
              <h4 class="breed">Munchkin</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/dogs/dog3.jpg" alt="" loading="lazy"/>
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Chedar</h3>
              <h4 class="breed">Hound</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/img/cats/cat3.jpg" alt="" loading="lazy"/>
          </div>
          <div class="profile-details">
            <div class="name-breed">
              <h3 class="name">Jason</h3>
              <h4 class="breed">Persian</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- List section end -->

<!-- Search section start -->
<section class="searchSection">
  <h1>Find your pet now!</h1>

  <div class="search-wrapper">
    <div class="search">
      <form action="/pet" method="GET" id="searchForm">
        <!-- Form untuk melakukan pencarian dan filtering -->
        <input
          id="searchInput"
          name="query"
          placeholder="Search..."
          type="text"
        />
        <div class="category-select">
          <select id="categorySelect" name="category">
            <!-- Dropdown select untuk filtering berdasarkan kategori -->
            <option value="">All</option>
            <option value="Cat">Cats</option>
            <option value="Dog">Dogs</option>
            <option value="Rabbit">Rabbits</option>
            <option value="Reptile">Reptiles</option>
            <option value="Bird">Birds</option>
            <option value="Fish">Fish</option>
          </select>

          <select id="sortingSelect" name="sorting">
            <!-- Dropdown select untuk filtering berdasarkan kategori -->
            <option value="">Sort by</option>
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
          </select>
        </div>

        <button type="submit">Go</button>
      </form>
    </div>
  </div>

  <% if (pets != '') { %>
    <div class="card-container" id="cardContainer">
      <% pets.forEach((pet,index) => { %>
      <div class="cards">
        <img src="<%= pet.image %>" alt="tes" loading="lazy"/>
        <div class="info">
          <p><%= pet.name %></p>
          <p><%= pet.breed %></p>
          <a href="/pets/details/<%= pet._id %>" class="readmore-btn">Read More</a>
        </div>
      </div>
      <% }); %>
    </div>
  
    <% } else{ %>
 <p>No pets found.</p>
    <% } %>
  
</section>

<!-- Search section end -->

<link rel="stylesheet" href="style/home.css" />
<!-- Script -->
<script src="/script/swiper-bundle.min.js"></script>
<script src="/script/ResponsiveNavbarTes.js"></script>
<script src="/script/swiper.js"></script>
<script src="/script/home.js"></script>
